@page "/LMM00200"
@using LMM00200Model;
@inherits R_Page

<R_Grid @ref="@_gridRef"
        DataSource="@_viewModel.UserParamList"
        R_ConductorSource="@_conductorRef"
        R_GridType="@R_eGridType.Navigator"
        R_ServiceGetListRecord="@Grid_R_ServiceGetListRecord"
        Pageable PageSize="5" Height="220px">
    <R_GridColumns>
        <R_GridTextColumn FieldName="CCODE" HeaderText="Code"
                          R_EnableEdit="false" Width="100px"></R_GridTextColumn>
        <R_GridTextColumn FieldName="CDESCRIPTION" HeaderText="Description" R_EnableEdit="false" Width="600px"></R_GridTextColumn>
        <R_GridNumericColumn FieldName="IUSER_LEVEL" HeaderText="User Level" R_EnableEdit="false" Width="100px"></R_GridNumericColumn>
        <R_GridCheckBoxColumn FieldName="LACTIVE" HeaderText="Active" R_EnableEdit="false" Width="100px"></R_GridCheckBoxColumn>
    </R_GridColumns>
</R_Grid>

<R_StackLayout Row>
    <R_ItemLayout xs="1">
        <R_Label>Code</R_Label>
    </R_ItemLayout>
    <R_ItemLayout xs="3">
        <R_TextBox @bind-Value="@_viewModel.Data.CCODE"
                   R_ConductorSource="@_conductorRef"
                   R_EnableAdd>
        </R_TextBox>
    </R_ItemLayout>
    <R_ItemLayout xs="1">
        <R_ItemLayout xs="4">
            <R_CheckBox @bind-Value="@_viewModel.Data.LACTIVE"
                        R_ConductorSource="@_conductorRef"
                        Enabled="false" />
        </R_ItemLayout>
        <R_ItemLayout xs="4">
            <R_Label>Active</R_Label>
        </R_ItemLayout>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout xs="1">
        <R_Label>Description</R_Label>
    </R_ItemLayout>
    <R_ItemLayout xs="3">
        <R_TextBox @bind-Value="@_viewModel.Data.CDESCRIPTION"
                   R_ConductorSource="@_conductorRef"
                   R_EnableEdit>
        </R_TextBox>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout xs="1">
        <R_Label>User Level</R_Label>
    </R_ItemLayout>
    <R_ItemLayout xs="3">
        <R_RadioGroup Data="@_viewModel.Options"
                      @bind-Value="@_viewModel.CUSER_LEVEL_OPERATOR_SIGN"
                      ValueField="@nameof(RadioModel.Value)"
                      TextField="@nameof(RadioModel.Text)"
                      R_ConductorSource="@_conductorRef"
                        R_EnableEdit>
        </R_RadioGroup>
    </R_ItemLayout>
    <R_ItemLayout xs="1">
        <R_NumericTextBox @bind-Value="@_viewModel.Data.IUSER_LEVEL"
                          R_ConductorSource="@_conductorRef"
                                R_EnableEdit>
        </R_NumericTextBox>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout xs="1">
        <R_Label>Value</R_Label>
    </R_ItemLayout>
    <R_ItemLayout xs="4">
        <R_TextArea @bind-Value="@_viewModel.Data.CVALUE"
                    R_ConductorSource="@_conductorRef"
                    R_EnableEdit></R_TextArea>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout xs="1">
        <R_EditButton R_Conductor="@_conductorRef"> <span>Modify</span></R_EditButton>
    </R_ItemLayout>
    <R_ItemLayout xs="1">
        <R_Popup R_ConductorSource="@_conductorRef" R_EnableOther="true" R_Before_Open_Popup="R_Before_Open_Popup_ActivateInactive">
            @_labelActiveInactive
        </R_Popup>
    </R_ItemLayout>
    <R_ItemLayout xs="8"></R_ItemLayout>
    <R_ItemLayout xs="1">
        <R_CancelButton R_Conductor="@_conductorRef"></R_CancelButton>
    </R_ItemLayout>
    <R_ItemLayout xs="1">
        <R_SaveButton R_Conductor="@_conductorRef"></R_SaveButton>
    </R_ItemLayout>
</R_StackLayout>

<R_Conductor @ref="@_conductorRef"
             R_ViewModel="@_viewModel"
             R_IsHeader="true"
             R_Display="@Conductor_Display"
             R_ServiceGetRecord="@Conductor_ServiceGetRecord"
             R_ServiceSave="@Conductor_ServiceSave"
             R_ConvertToGridEntity="@R_ConvertToGridEntity"
             R_Validation="@Conductor_Validation"></R_Conductor>